<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('Main')">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('home')"></nav>

	<main role="main" class="container">
	<div class="starter-template">
		<h1>카카오뱅크 코딩테스트 Main 화면입니다.</h1>
		<p class="lead">박준규</p>
	</div>
	</main>
</body>
</html>