<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('장소 검색')">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="/css/code-test.css" th:href="@{/css/code-test.css}" rel="stylesheet">

</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('list')"></nav>
	<!-- <h2>장소 검색</h2> -->
	
	<form th:object="${search}" th:action="@{/search}" th:method="post">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<input type="text" class="form-control" id="query" name="query">
				</div>
			</div>
			<div class="col-md-3">
				<span class="">
					<button type="submit" class="width_70 btn btn-primary">검색</button>
				</span>
			</div>
			<div class="col-md-3">
				Top 10
				<table class="table">
					<colgroup>
						<col class="dt_tbl_width30">
						<col class="dt_tbl_width70">
					</colgroup>
					<tr>
						<td>1</td>
						<td>어리굴젓</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">First</th>
							<th scope="col">Last</th>
							<th scope="col">Handle</th>
						</tr>
					</thead>
					<!-- c:for 문 넣어서 처리하렴 -->
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</form>
	
	<script type="text/javascript" th:inline="javascript">
	</script>
</body>
</html>