<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head('장소 검색')">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="/css/code-test.css" th:href="@{/css/code-test.css}" rel="stylesheet">

</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('search')"></nav>
	
	<form role="form"  th:action="@{/board/view}" method="post">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<input type="text" class="form-control"  id="query" name="query" th:value="${query}">
				</div>
			</div>
			<div class="col-md-3">
				<span class="">
					<button type="submit" class="width_70 btn btn-primary">검색</button>
				</span>
			</div>
			<div th:if="${keywords != null}" class="col-md-3">
				<table class="table table-borderless">
					<thead>
						<tr>
							<th scope="col">Rank</th>
							<th scope="col">키워드</th>
							<th scope="col">횟수</th>
						</tr>
					</thead>
					<tr th:each="keyword, num : ${keywords}">
						<td th:text="${num.count}"></td>
						<td th:text="${keyword.keyword}"></td>
						<td th:text="${keyword.count}"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	</form>
</body>
</html>