<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head('상세 보기')">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="/css/code-test.css" th:href="@{/css/code-test.css}" rel="stylesheet">

</head>
<body>
	
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('view')"></nav>
	<!-- <form role="form"  th:action="@{/board/view}" method="get"> -->
	<div class="container-fluid">
		<div class="row flex-xl-nowrap">
			<form class="form-row col-md-9" role="form"  th:action="@{/board/view}" method="get">
			<div class="col-md-9">
				<div class="form-group">
					<input type="text" class="form-control" id="initQuery" name="initQuery" th:value="${initQuery}">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group form-check">
					<button type="submit" class="width_70 btn btn-primary">검색</button>
				</div>
			</div>
			</form>
		</div>
		<div class="row flex-xl-nowrap">
			<div class="col-md-9">
				<div class="text-right">
					총 건수 : <span th:text="${documents.totalElements}"></span>
				</div>
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">No.</th>
							<th scope="col">주소명</th>
							<th scope="col">도로명 주소</th>
							<th scope="col">전화번호</th>
							<th scope="col">URL</th>
							<th scope="col">지도URL</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="info, num : ${documents}">
							<td th:text="${num.count}"></td>
							<td th:text="${info.placeName}"></td>
							<td th:text="${info.roadAddressName}"></td>
							<td th:text="${info.phone}"></td>
							<td><a th:href="${info.placeUrl}" th:text="${info.placeUrl}"></a></td>
							<td><a th:href="${info.mapUrl}" th:text="${info.mapUrl}"></a></td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
						<li class="page-item " th:classappend="${1 == documents.pageable.pageNumber + 1} ? 'disabled'"><a class="page-link" href="#" th:href="@{/board/view(query=${query}, page=${documents.pageable.pageNumber - 1})}" tabindex="-1" aria-disabled="true">Previous</a></li>
						<li class="page-item" th:classappend="${i == documents.pageable.pageNumber + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}"><a class="page-link" href="#" th:href="@{/board/view(query=${query}, page=${i - 1})}" th:text="${i}">1</a></li>
						<li class="page-item" th:classappend="${documents.totalPages == documents.pageable.pageNumber + 1} ? 'disabled'"><a class="page-link" href="#" th:href="@{/board/view(query=${query}, page=${documents.pageable.pageNumber + 1})}">Next</a></li>
					</ul>
				</nav>
			</div>
			<div th:if="${keywords != null}" class="col-md-3">
				<table class="table table-borderless">
					<thead>
						<tr>
							<th scope="col">Rank</th>
							<th scope="col">키워드</th>
							<th scope="col">횟수</th>
						</tr>
					</thead>
					<tr th:each="keyword, num : ${keywords}">
						<td th:text="${num.count}"></td>
						<td th:text="${keyword.keyword}"></td>
						<td th:text="${keyword.count}"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<!-- </form> -->
</body>
</html>